/.RData
/.Rhistory
/archive(1)
/archive(1).zip
/CardioGoodFitness.csv
/CDA 10 - Colab.pdf
/CDA 9 - Colab.pdf
/CDA EXP 4-10.pdf
/evs questions.docx
/exp CDA.docx
/exp1.R
/exp2 cda.docx
/exp2 cda.pdf
/exp2.R
/exp3.docx
/exp3.pdf
/exp3.R
/exp4.R
/exp4mean.R
/exp4_CDA.pdf
/exp5_variance.R
/exp7_date.R
/janhavi cda exp 4-10.docx
/janhavi cda exp 4-10.pdf
/tcpe assignment.docx
/unit2_Cda-u2-Visualization.pptx
/~$s questions.docx